/* styles/styles.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Para garantir que o body ocupe toda a altura da tela */
  background-image: url("/public/bannertech.jpeg"); /* Caminho para a imagem */
  background-size: cover; /* Para cobrir toda a área */
  background-position: center; /* Para centralizar a imagem */
  background-repeat: no-repeat; /* Para evitar repetição da imagem */
}
